################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/OpenGlSuperBible/v16
/.vs
/SuperBible/.vs/SuperBible/v16
/SuperBible/Project1/Project1.vcxproj.user
/SuperBible/Project1/Project1.vcxproj.filters
x64
Debug
*.filters
*.user
